<zxing-scanner (camerasFound)="isWebView();cameraFound($event)"
(camerasNotFound)="isWebView();camerasNotFound($event)" (scanSuccess)="isWebView();onCodeResult($event)"></zxing-scanner>

<section class="results">
  <div>
    <small> found result</small>
    <strong>{{foundresult|json}}</strong>
    <hr>
    <small>Not found result</small>
    <strong>{{notFoundresult|json}}</strong>
    <hr>
    <small>Result</small>
    <strong>{{ qrResultString|json }}</strong>
  </div>
  <button  (click)="clearResult()">&times;</button>
</section>